{% extends "layout.html" %}

{% block content%}
<div>
    <form action="" method="POST">

        {{form.hidden_tag()}}
        <fieldset>
            <legend>
                Login
            </legend>

            <div>
                {{ form.email.label() }}
                {{ form.email() }}
            </div>

            <div>
                {{ form.password.label() }}
                {{ form.password() }}
            </div>
            
        </fieldset>
        <div>
            {{ form.submit() }}
        </div>
       

    </form>
</div>
<div>
    <small>
        Don't have an account? <a href="{{ url_for('register')}}">Register </a>
    </small>
</div>

{%endblock %}