{% extends "layout.html" %}

{% block content%}
    <!-- {{current_user.username}} -->


    <div class="content-section">

        <div class="media">
    
        <img class="rounded-circle account-img" src="static/images/featured/default.jpg">
    
        <div class="media-body">
    
            <h2 class="account-heading">{{ current_user.username}}</h2>
    
            <p class="text-secondary">{{ current_user.email}}</p>
    
        </div>
    
        </div>
    
        <!-- FORM HERE -->
        <div>
            <form action="" method="POST">
        
                {{form.hidden_tag()}}
                <fieldset>
                    <legend>
                        Update
                    </legend>
                    <div>
                        {{ form.username.label() }}
                        {% if form.username.errors %}
                            {{ form.username() }}
                                {% for error in form.username.errors%}
                                <span>{{error}}</span>
                                {% endfor %}
                        {% else %}
                            {{form.username()}}
                        {% endif %}
                        
                            
                    </div>
        
                    <div>
                        {{ form.email.label() }}
                        {% if form.email.errors %}
                            {{ form.email() }}
                            {% for error in form.email.errors%}
                            <span>{{error}}</span>
                            {% endfor %}
                        {% else %}
                            {{form.email()}}
                        {% endif %}
                    </div>
        
                </fieldset>
                <div>
                    {{ form.submit() }}
                </div>
               
        
            </form>
        </div>
    
    </div>
  
  
{% endblock %}